{{ shop.metaobjects['bundles'][section.settings.bundle_metaobject].bundle.value | size }}
<div class="bundle-main">
  {% for bundle in shop.metaobjects['bundles'][section.settings.bundle_metaobject].bundle.value %}
    {{ bundle.value.name }}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Main bundle",
    "settings": [
      
      
        {
          "id": "bundle_metaobject",
          "type": "text",
          "label": "Bundle metaobject"
        }
      
    
    ],
    "presets": [
    {
      "name": "Main bundle"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}