<div class="bundle-main">
  
</div>

{% schema %}
  {
    "name": "Main bundle",
    "settings": [
      
    ],
     "blocks": [
    {
      "type": "bundle",
      "name": "Bundle metaobject block",
      "settings": [
        {
          "id": "bundle_metaobject",
          "type": "text",
          "label": "Bundle metaobject"
        }
      ]
    }
     ],
    "presets": [
    {
      "name": "Main bundle"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}